header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}

footer {
    clear: both;
    color: #ffffff;
    background-color:black;
    height: 10px;
    padding: 10px;}

figure {
    float: left;
    width: 290px;
    height: 230px;
    padding-right: 20px;
    margin: 20px;}
figcaption {
    font-size: 90%;
    text-align: left;}

 .flex-choices {
    display: flex;
    justify-content: space-evenly;
}

/*////// D3 */
.bar {
    fill: steelblue;
}
  
.bar:hover {
    fill: brown;
}
  
.axis--x path {
    display: none;
}  

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
}