 @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
body {
    background: #F0F0F0;
    margin: 0; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    color: grey;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
}

footer {
    color: grey;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 100%;
}

h2 {
    font-size: 2.0rem;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1em;
    text-align: center;
    vertical-align: top;
}

img {
    width: 18vw;
}
/**************************/
/* Nav bar ***************/
.menu-toggle {
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    background: grey;
    display: none;
}

.menu-content {
    display: flex;
    flex-direction: row;
}

.menu-content a {
    padding: 5px 0;
    background: grey;
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

nav:hover .menu-content {
    display: flex;
}
nav:hover .menu-conten a:hover {
    background: teal;
}
/*******************************************/
/* Survey page */
.grid {
    display: grid;
    grid-template-columns: 20vw 70vw;
    grid-template-rows: 10em 5em 40em 5em;
    grid-template-areas: 'header header'
                        'nav nav'
                        'tablecontainer survey'
                        'footer footer';
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}

.grid .header {
    grid-area: header;
    text-align: center;
    vertical-align: top;
}

.grid .nav {
    grid-area: nav;
}

.grid .survey {
    grid-area: survey;
    background:white;
}

.grid .tablecontainer {
    grid-area: tablecontainer;
    background:white;
    overflow-x:auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50%;
    grid-template-areas: 'tableheader'
                            'table';
    grid-column-gap: 2vw;
}


footer {
    grid-area: footer;
    position: fixed;
    bottom: 0px;
}

.survey {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50%;
    grid-template-areas: 'surveyheader'
                         'surveybody';
    grid-column-gap: 2vw;
}

.tablecontainer {
    justify-content: center;
}

.tableheader {
    grid-area: tableheader;
} 

.tablebody {
    justify-self: center;
}

table {
    grid-area: table;
    border-collapse:collapse;
    table-layout: auto;
} 

table td {
    border:1px solid #000;
    margin: auto;
}

.survey .surveyheader {
    align-self: flex-start;
    grid-area: surveyheader;

}

.survey .surveybody {
    align-self: flex-end;
    grid-area: surveybody;
}
.survey .message {
    align-self: center;
    justify-self: center;
    color: red;
}
.flex-box-choices {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-basis: shrink;
}



  /***************************************************/
  /* Products Page */

.grid2 {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10em 5em 40em 5em;
    grid-template-areas: 'header'
                         'nav'
                         'products'
                         'footer';
    grid-row-gap: 1em;
}

.grid2 .header {
    grid-area: header;
    text-align: center;
    vertical-align: top;
}

.grid2 .nav {
    grid-area: nav;
}

.grid2 .products {
    grid-area: products;
}

.grid2 .footer {
    grid-area: footer;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); }


/**********************************************/
/* Results page */
.grid3 {
    display: grid;
    grid-template-columns: 70vw 20vw;
    grid-template-rows: 10em 5em 40em 40em 40em 5em;
    grid-template-areas:    'header header'
                            'nav nav'
                            'percentchart meth'
                            'numviewschart meth'
                            'resultstable meth'
                            'footer footer';
    grid-row-gap: 2vh;}
    
.grid3 .header {
    grid-area: header;
    text-align: center;
    vertical-align: top;
}
.grid3 .nav {
    grid-area: nav;
}
.grid3 .percentchart {
    grid-area: percentchart;
    background:white;
}
.grid3 .numviewschart {
    grid-area: numviewschart;
    background:white;
}

.resultstable {
    grid-area: resultstable;
    background:white;
    overflow-x:auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50%;
    grid-template-areas: 'tableheader'
                            'table';
    grid-column-gap: 2vw;
}

.resultstable {
    justify-content: center;
}
.grid3 .methodology {
    grid-area: meth;
    padding: 2vw;
}
.grid3 .footer {
    grid-area: footer;    
}
.chart-container {
    overflow-x:scroll !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80% !important;
}
  /***************************************************/
  @supports ((display: -ms-grid) or (display: grid)) {
    @media (max-width: 500px) {

        img {
            width: 30vw;
        }
        /* nav bar */
        .menu-toggle {
            display: flex;
            justify-content: center;
        }
        .menu-content {
            display: none;
            flex-direction: column;
            align-items: center;
        }
    
        .menu-content a {
            padding-top: 5px 0;
        }
        /* survey page */
        .grid {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 5em 15em 300em 200 em5em;
            grid-template-areas:    'header'
                                    'nav'
                                    'survey'
                                    'tablecontainer'
                                    'footer';
            grid-row-gap: 2em;
        }

        .survey {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1vh 60vh;
            grid-template-areas:    'surveyheader'
                                    'surveybody';
            grid-column-gap: 1vw;
        }

        .surveyheader {
            align-self: flex-start;
            grid-area: surveyheader;
        }

        .surveybody {
            height: 50%;
            align-self: flex-end;
            grid-area: surveybody;
        }

        .flex-box-choices {
            height: 20%;
            align-self: flex-end;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }

        input[type=radio]{
            margin-bottom: 1vh;
        }
        
        /* product page */
        .grid2 {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 5em 9em 200em 5em;
            grid-template-areas: 'header'
                                 'nav'
                                 'products'
                                 'footer';
            grid-row-gap: 1em;
        }

        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
        
        }
        /* results page */
        .grid3 {
            display: grid;
            grid-template-columns: 90vw;
            grid-template-rows: 6em 8em 30em 40em 40em 30em 10em;
            grid-template-areas:    'header'
                                    'nav'
                                    'percentchart'
                                    'numviewschart'
                                    'resultstable'
                                    'meth'
                                    'footer';
            grid-row-gap: 2em;
        }


    }
    @media (max-width: 980px) {
        /* survey page */
        .grid {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 8em 5em 30em 40em 10em;
            grid-template-areas:    'header'
                                    'nav'
                                    'survey'
                                    'tablecontainer'
                                    'footer';
            grid-row-gap: 1em;
        }
    
        /* product page */
        .grid2 {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 8em 5em 80em 10em;
            grid-template-areas:    'header'
                                    'nav'
                                    'products'
                                    'footer';
            grid-row-gap: 1em;
        }

        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        }

        /* results page */
        .grid3 {
            display: grid;
            grid-template-columns: 90vw;
            grid-template-rows: 8em 5em 40em 40em 40em 25em 5em;
            grid-template-areas:    'header'
                                    'nav'
                                    'percentchart'
                                    'numviewschart'
                                    'resultstable'
                                    'meth'
                                    'footer';
            grid-row-gap: 1em;
        }

    }
}