 @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

 /* header, section, footer, aside, nav, article, figure, figcaption {
    display: block;} */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
body {
    background: #F0F0F0;
    margin: 0; 
    font-family: 'Yanone Kaffeesatz', sans-serif;}
  
header {
    color: grey;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;}

footer {
    color: grey;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 100%;}


h2 {
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1em;
    text-align: center; }
  
 .grid {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 20vh 8vh 90vh 5vh;
    grid-template-areas: "header header"
                         "nav nav"
                         "tablecontainer survey"
                         "footer footer";}
.grid div {
    border: 2px solid gray;
}
.grid .header {
    grid-area: header;
    background: skyblue;
}
.grid .nav {
    grid-area: nav;
    background:yellow;
}
.grid .survey {
    grid-area: survey;
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid .tablecontainer {
    grid-area: tablecontainer;
    background: green;
    overflow-x:auto;
    display: block;
    justify-content: center;
    align-items: center; 
}

.grid .footer {
    grid-area: footer;
    background: palegoldenrod;
}

.flex-box-choices {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    }

.button-container {
    display: flex;
    justify-content: center;
  }  

table {
    border-collapse:collapse;
    table-layout: auto;}

table td {
    border:1px solid #000;
    margin: auto;
    }
