@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

body {
    background: #F0F0F0;
    font-family: 'Yanone Kaffeesatz', sans-serif;}

header {
    color: grey;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;}

footer {
    color: grey;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 100%;}

h2 {
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1em;
    text-align: right; }
  
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;       
    justify-content: center;
    align-items: center; }

li {
    padding: 10px;
    border-radius: 4px;
    line-height: 1.2; 
    background:rgba(255, 255, 255, 1);
    float: left;
    margin: 10px; ;}

table {
    border-collapse:collapse;
    table-layout: auto;
    width: 1000px; 
    }

table td {
    border:1px solid #000;
    margin: auto;
    }

#table-container {
    overflow-x:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.chart-container {
    overflow-x:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px !important;}

@supports ((display: -ms-grid) or (display: grid)) {
    li {
        width: auto;
        margin: 0; }
        
    @media (min-width: 500px) {
        ul {
            display: grid;
            grid-template-rows: 20vw 20vw 20vw 10vw;
            grid-template-columns: 50vw;
            grid-gap: 70vw;}
        li {
        min-height: 45vw; }
        li:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1; }
        li:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 1; }
        li:nth-child(3) {
        grid-row-start: 3;
        grid-column-start: 1; }
        li:nth-child(4) {
        grid-row-start: 4;
        grid-column-start: 1; } 
        .menu-toggle {
            display: none;
        }
        .menu-content {
            display: flex;
            flex-direction: row;}
    
        .menu-content a {
            padding: 10px 0;
        }
    }
    @media (min-width: 980px) {
        ul {
            display: grid;
            grid-template-areas: "content side"
                                "content  side"
                                "content  side";
            grid-template-rows: repeat(3, 45vw);
            grid-template-columns: 70vw 15vw;
            grid-gap: 5vw;}
        li {
        min-height: 45vw; }
        li:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1; }
        li:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 1; }
        li:nth-child(3) {
        grid-row-start: 3;
        grid-column-start: 1; }
        li:nth-child(4) {
        grid-area: side;
        align-self: flex-start;} 


    }
}

@supports (display: grid) {
.warning {
    display: none; } }
    
.menu-toggle {
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    background: grey;}

.menu-content {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;}

.menu-content a {
    padding: 5px 0;
    background:grey;
    width: 100%;
    text-align: center;
    color:white;
    text-decoration: none;}

nav:hover .menu-content {
    display: flex;}

    nav:hover .menu-content a:hover {
    background: teal;}
